/******************************/
/**  LINGUA FRANCA WEB FONT  **/
/******************************/


/* lingua-franca.css */
/* Andreas Nolda 2016-10-08 */

@font-face {
  font-family: "Lingua Franca";
  font-style: normal;
  font-weight: 400;
  src: local("Lingua Franca"), local("LinguaFranca-Regular"), url(fonts/lingua-franca-1.19/LinguaFranca-Regular.woff), url(http://andreas.nolda.org/software/LinguaFranca-Regular.woff) format('woff');
}
@font-face {
  font-family: "Lingua Franca";
  font-style: italic;
  font-weight: 400;
  src: local("Lingua Franca Italic"), local("LinguaFranca-Italic"), url(fonts/lingua-franca-1.19/LinguaFranca-Italic.woff), url(http://andreas.nolda.org/software/LinguaFranca-Italic.woff) format('woff');
}

@font-face {
  font-family: "Lingua Franca";
  font-style: normal;
  font-weight: 700;
  src: local("Lingua Franca Bold"), local("LinguaFranca-Bold"), url(fonts/lingua-franca-1.19/LinguaFranca-Bold.woff), url(http://andreas.nolda.org/software/LinguaFranca-Bold.woff) format('woff');
}
@font-face {
  font-family: "Lingua Franca";
  font-style: italic;
  font-weight: 700;
  src: local("Lingua Franca Bold Italic"), local("LinguaFranca-BoldItalic"), url(fonts/lingua-franca-1.19/LinguaFranca-BoldItalic.woff), url(http://andreas.nolda.org/software/LinguaFranca-BoldItalic.woff) format('woff');
}

body {
  font-family: "Lingua Franca", serif;
  font-feature-settings: "liga", "pnum", "ss01";
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "liga", "pnum", "ss01";
  -ms-font-feature-settings: "liga", "pnum", "ss01";
  -webkit-font-feature-settings: "liga", "pnum", "ss01";
}




/***********************/
/**  FIRAGO WEB FONT  **/
/***********************/


@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 100;
  src: local("FiraGO Thin"), local("FiraGO-Thin"), url(fonts/FiraGO-1.001/FiraGO-Thin.woff) format('woff');
}
@font-face {
  font-family: "FiraGO";
  font-style: italic;
  font-weight: 100;
  src: local("FiraGO Thin Italic"), local("FiraGO-ThinItalic"), url(fonts/FiraGO-1.001/FiraGO-ThinItalic.woff) format('woff');
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 200;
  src: local("FiraGO UltraLight"), local("FiraGO-UltraLight"), url(fonts/FiraGO-1.001/FiraGO-UltraLight.woff) format('woff');
}
@font-face {
  font-family: "FiraGO";
  font-style: italic;
  font-weight: 200;
  src: local("FiraGO UltraLight Italic"), local("FiraGO-UltraLightItalic"), url(fonts/FiraGO-1.001/FiraGO-UltraLightItalic.woff) format('woff');
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 250;
  src: local("FiraGO ExtraLight"), local("FiraGO-ExtraLight"), url(fonts/FiraGO-1.001/FiraGO-ExtraLight.woff) format('woff');
}
@font-face {
  font-family: "FiraGO";
  font-style: italic;
  font-weight: 250;
  src: local("FiraGO ExtraLight Italic"), local("FiraGO-ExtraLightItalic"), url(fonts/FiraGO-1.001/FiraGO-ExtraLighttItalic.woff) format('woff');
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 300;
  src: local("FiraGO Light"), local("FiraGO-Light"), url(fonts/FiraGO-1.001/FiraGO-Light.woff) format('woff');
}
@font-face {
  font-family: "FiraGO";
  font-style: italic;
  font-weight: 300;
  src: local("FiraGO Light Italic"), local("FiraGO-LightItalic"), url(fonts/FiraGO-1.001/FiraGO-LighttItalic.woff) format('woff');
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 350;
  src: local("FiraGO Book"), local("FiraGO-Book"), url(fonts/FiraGO-1.001/FiraGO-Book.woff) format('woff');
}
@font-face {
  font-family: "FiraGO";
  font-style: italic;
  font-weight: 350;
  src: local("FiraGO Book Italic"), local("FiraGO-BookItalic"), url(fonts/FiraGO-1.001/FiraGO-BookItalic.woff) format('woff');
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 400;
  src: local("FiraGO Regular"), local("FiraGO-Regular"), url(fonts/FiraGO-1.001/FiraGO-Book.woff) format('woff');
}
@font-face {
  font-family: "FiraGO";
  font-style: italic;
  font-weight: 400;
  src: local("FiraGO Italic"), local("FiraGO-Italic"), url(fonts/FiraGO-1.001/FiraGO-Italic.woff) format('woff');
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 500;
  src: local("FiraGO Medium"), local("FiraGO-Medium"), url(fonts/FiraGO-1.001/FiraGO-Medium.woff) format('woff');
}
@font-face {
  font-family: "FiraGO";
  font-style: italic;
  font-weight: 500;
  src: local("FiraGO Medium Italic"), local("FiraGO-MediumItalic"), url(fonts/FiraGO-1.001/FiraGO-MediumItalic.woff) format('woff');
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 600;
  src: local("FiraGO SemiBold"), local("FiraGO-SemiBold"), url(fonts/FiraGO-1.001/FiraGO-SemiBold.woff) format('woff');
}
@font-face {
  font-family: "FiraGO";
  font-style: italic;
  font-weight: 600;
  src: local("FiraGO SemiBold Italic"), local("FiraGO-SemiBoldItalic"), url(fonts/FiraGO-1.001/FiraGO-SemiBoldItalic.woff) format('woff');
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 700;
  src: local("FiraGO Bold"), local("FiraGO-Bold"), url(fonts/FiraGO-1.001/FiraGO-Bold.woff) format('woff');
}
@font-face {
  font-family: "FiraGO";
  font-style: italic;
  font-weight: 700;
  src: local("FiraGO Bold Italic"), local("FiraGO-BoldItalic"), url(fonts/FiraGO-1.001/FiraGO-BoldItalic.woff) format('woff');
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 800;
  src: local("FiraGO ExtraBold"), local("FiraGO-ExtraBold"), url(fonts/FiraGO-1.001/FiraGO-ExtraBold.woff) format('woff');
}
@font-face {
  font-family: "FiraGO";
  font-style: italic;
  font-weight: 800;
  src: local("FiraGO ExtraBold Italic"), local("FiraGO-ExtraBoldItalic"), url(fonts/FiraGO-1.001/FiraGO-ExtraBoldItalic.woff) format('woff');
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 900;
  src: local("FiraGO Heavy"), local("FiraGO-Heavy"), url(fonts/FiraGO-1.001/FiraGO-Heavy.woff) format('woff');
}
@font-face {
  font-family: "FiraGO";
  font-style: italic;
  font-weight: 900;
  src: local("FiraGO Heavy Italic"), local("FiraGO-HeavyItalic"), url(fonts/FiraGO-1.001/FiraGO-HeavyItalic.woff) format('woff');
}

/*
From https://github.com/bBoxType/FiraGO:
Thin (22 units / CSS 100)
UltraLight (34 units / CSS 200)
ExtraLight (46 units / CSS 250)
Light (58 units / CSS 300)
Book (84 units / CSS 350)
Regular (92 units / CSS 400)
Medium (128 units / CSS 500)
SemiBold (142 units / CSS 600)
Bold (158 units / CSS 700)
ExtraBold (178 units / CSS 800)
Heavy (198 units / CSS 900)
*/




/*****************/
/**  VARIABLES  **/
/*****************/

/* Below 600px screen width: */
:root {
   --spot-color: #CC0000;
   --text-margin-left: 15px;
   --text-margin-right: 15px;
   --text-margin-top: 10px;
   --text-font-size: 12px;
   --h1-font-size: 24px;
   --outer-box-width: 90%;
   --col-left-width: 200px;
   --col-right-width: 100%;
}

/* Above 600px screen width: */
@media only screen and (min-width: 600px) {
   :root {
      --outer-box-width: 550px;
      --col-left-width: 200px;
      --col-right-width: 350px;
      --text-font-size: 20px;
   }
}

/* Above 700px screen width: */
@media only screen and (min-width: 700px) {
   :root {
      --outer-box-width: 650px;
      --col-left-width: 250px;
      --col-right-width: 400px;
      --text-font-size: 20px;
      --h1-font-size: 30px;
   }
}

/* Above 800px screen width: */
@media only screen and (min-width: 800px) {
   :root {
      --outer-box-width: 700px;
      --col-left-width: 250px;
      --col-right-width: 450px;
   }
}

/* Above 1000px screen width: */
@media only screen and (min-width: 1000px) {
   :root {
      --outer-box-width: 900px;
      --col-left-width: 300px;
      --col-right-width: 600px;
      --text-margin-left: 30px;
      --text-margin-right: 30px;
      --text-margin-top: 20px;
      --h1-font-size: 40px;
   }
}

/* Above 1200px screen width: */
@media only screen and (min-width: 1200px) {
   :root {
      --outer-box-width: 1100px;
      --col-left-width: 300px;
      --col-right-width: 800px;
   }
}


/**********************************************/
/**  GENERAL FONT, SIZE, AND COLOR SETTINGS  **/
/**********************************************/


*, html {
    margin: 0;
    padding: 0;
}

body {
   font-family: 'Lingua Franca';
   font-weight: normal;
   font-style: normal;
   font-size: var(--text-font-size, 12px);
   background-color: #F2F2F0;
}

h1 {
   font-family: FiraGO;
   font-weight: 900;
   font-size: var(--h1-font-size, 24px);
}

a {
   text-decoration: none;
   color: inherit;
}
a:hover {
   color: var(--spot-color);
}

p {
   line-height: 1.4;
   margin-left: var(--text-margin-left);
   margin-right: var(--text-margin-right);
   margin-top: var(--text-margin-top);
}

.whiteOnBlack {
   display: inline;
   background-color: black;
   color: white;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 8px;
   padding-bottom: 12px;
   -webkit-box-decoration-break: clone;
   box-decoration-break: clone;
}

.whiteOnRed {
   display: inline;
   background-color: var(--spot-color);
   color: white;
   font-weight: 500;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: inherit;
   padding-bottom: inherit;
   -webkit-box-decoration-break: clone;
   box-decoration-break: clone;
   font-variant-numeric: lining-nums;
   font-variant-numeric: tabular-nums;
}

.topic-box {
   padding-top: 6px;
   padding-bottom: 7px;
   border-bottom: 1px solid var(--spot-color);
   margin-left: var(--text-margin-left);
   margin-right: var(--text-margin-right);
   margin-bottom: 30px;
   font-family: FiraGO, sans-serif;
   font-weight: 300;
   font-size: var(--h1-font-size, 24px);
   font-feature-settings: "liga", "tnum", "ss01";
   -moz-font-feature-settings: "liga", "tnum", "ss01";
   -ms-font-feature-settings: "liga", "tnum", "ss01";
   -webkit-font-feature-settings: "liga", "tnum", "ss01";
   background-color: white;
}




/*********************/
/**  PAGE ELEMENTS  **/
/*********************/


.outer-box {
   height: 100%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0;
   margin-bottom: 0;
   width: var(--outer-box-width, 90%);
   padding-top: 0px;
}
.outer-box::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

.col-left {
   width: var(--col-left-width, 200px);
   padding: 0;
}

.col-right {
   position: relative;
   width: var(--col-right-width, 100%);
   background-color: white;
   padding: 0;
   margin-top: var(--text-margin-top);
}
