/*
******************************
**  FONT AND SIZE SETTINGS  **
******************************
*/


body {
   font-family: 'Lingua Franca';
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   background-color: white;
   padding: 20px;
}

h1 {
   font-family: FiraGO;
   font-weight: 900;
   font-size: 40px;
}

a {
   text-decoration: none;
   color: inherit;
}
a:hover {
   color: #CC0000;
}

p {
   margin-top: 50px;
   line-height: 40px;
}

.whiteOnBlack {
   display: inline;
   background-color: black;
   color: white;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 8px;
   padding-bottom: 12px;
   -webkit-box-decoration-break: clone;
   box-decoration-break: clone;
}

.whiteOnRed {
   display: inline;
   background-color: #CC0000;
   color: white;
   font-weight: 500;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 8px;
   padding-bottom: 12px;
   -webkit-box-decoration-break: clone;
   box-decoration-break: clone;
}

.topicBox {
   height: 50px;
   padding-bottom: 10px;
   border-bottom: 1px solid #CC0000;
   margin-bottom: 30px;
   font-family: FiraGO, sans-serif;
   font-weight: 300;
   font-size: 20px;
   font-feature-settings: "liga", "tnum", "ss01";
   -moz-font-feature-settings: "liga", "tnum", "ss01";
   -ms-font-feature-settings: "liga", "tnum", "ss01";
   -webkit-font-feature-settings: "liga", "tnum", "ss01";
   min-width: 350px;
}




/*
**************************************
**  RESPONSIVE PLACING OF ELEMENTS  **
**************************************
*/


.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
.col-left {
   width: 100%;
}
.col-right {
   width: 100%;
}

/* For tablets: */
@media only screen and (min-width: 640px) {
   .col-left {
      width: 250px;
   }
   .col-right {
      width: 40%;
   }
   body {
     font-size: 20px;
     padding: 35px;
   }
   .topicBox {
      font-size: 30px;
   }
}

/* For desktops: */
@media only screen and (min-width: 975px) {
   .col-left  {
      width: 300px;
   }
   .col-right  {
      width: 55%;
      max-width: 750px;
   }
   body {
      font-size: 20px;
      padding: 50px;
   }
   .topicBox {
      font-size: 40px;
   }
}
