/*
******************************
**  FONT AND SIZE SETTINGS  **
******************************
*/


body {
   font-family: 'Lingua Franca';
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   background-color: white;
   padding: 50px;
}

h1 {
   font-family: FiraGO;
   font-weight: 600;
   font-size: 40px;
}

a {
   text-decoration: none;
   color: inherit;
}
a:hover {
   color: #CC0000;
}

p {
   margin-top: 50px;
   line-height: 40px;
}

.whiteOnBlack {
   display: inline;
   background-color: black;
   color: white;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 8px;
   padding-bottom: 12px;
   -webkit-box-decoration-break: clone;
   box-decoration-break: clone;
}

.whiteOnRed {
   display: inline;
   background-color: #CC0000;
   color: white;
   font-weight: 500;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 8px;
   padding-bottom: 12px;
   -webkit-box-decoration-break: clone;
   box-decoration-break: clone;
}

.topicBox {
   height: 50px;
   padding-bottom: 10px;
   border-bottom: 1px solid #CC0000;
   margin-bottom: 30px;
   font-family: FiraGO, sans-serif;
   font-weight: 300;
   font-size: 40px;
   font-feature-settings: "liga", "tnum", "ss01";
   -moz-font-feature-settings: "liga", "tnum", "ss01";
   -ms-font-feature-settings: "liga", "tnum", "ss01";
   -webkit-font-feature-settings: "liga", "tnum", "ss01";
   min-width: 400px;
}




/*
**************************************
**  RESPONSIVE PLACING OF ELEMENTS  **
**************************************
*/


.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
*[class*="col-"] {
  width: 100%;
  max-width: 500px;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  .col-s-1  { width: 8.33%;  }
  .col-s-2  { width: 16.66%; }
  .col-s-3  { width: 300px;  }
  .col-s-4  { width: 33.33%; }
  .col-s-5  { width: 41.66%; }
  .col-s-6  { width: 500px;  }
  .col-s-7  { width: 58.33%; }
  .col-s-8  { width: 66.66%; }
  .col-s-9  { width: 75%;    }
  .col-s-10 { width: 83.33%; }
  .col-s-11 { width: 91.66%; }
  .col-s-12 { width: 100%;   }
}

/* For desktop:
@media only screen and (min-width: 640px) {
  .col-1  { width: 8.33%;  }
  .col-2  { width: 16.66%; }
  .col-3  { width: 300px;  }
  .col-4  { width: 33.33%; }
  .col-5  { width: 41.66%; }
  .col-6  { width: 50%;    }
  .col-7  { width: 58.33%; }
  .col-8  { width: 66.66%; }
  .col-9  { width: 75%;    }
  .col-10 { width: 83.33%; }
  .col-11 { width: 91.66%; }
  .col-12 { width: 100%;   }
}
*/
