body {
   text-align: center;
   vertical-align: top;
   font-family: Arial, sans-serif;
   margin-top: 25px;
   hyphens: auto;
   -webkit-hyphens: auto;
   -webkit-hyphenate-limit-before: 3;
   -webkit-hyphenate-limit-after: 4;
   -ms-hyphens: auto;
   -ms-hyphenate-limit-chars: 7 3 4;
   -moz-hyphens: auto;
}

/* Below 850px screen width: */
.calendar {
   width: 92%;
   height: 750px;
   max-width: 900px;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
html {
   font-size: 15px;
}

/* Above 850px screen width: */
@media screen and (min-width: 850px) {
   html {
      font-size: 16px;
   }
}

a {
   text-decoration: none;
   color: #07529A;
}
a:hover {
   color: #2C7FBB;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');

h1, h2 {
   font-family: "Exo 2", Arial, sans-serif;
   hyphens: manual;
   -webkit-hyphens: manual;
   -ms-hyphens: manual;
   -moz-hyphens: manual;

}
h1 {
   color: #07529A;
}

.discreet {
   color: #777777;
}

hr {
   border: 0.5px solid #07529A;
}
